body {
	font-family: sans-serif;
	font-size: 2rem;
	margin: 0 auto;
	max-width: 700px;
	padding: 2rem;
}

input, button {
	font-size: 2rem;
}

#display {
	border-radius: 2vw;
	border: 1px solid hotpink;
	font-size: 35vw;
	line-height: 50vw;
	margin-top: 3rem;
	text-align: center;
	width: 50vw;
}
